<style>
<style>
  .logo{
border-left: 1px solid; grid-area: logo; }
  .about{
border-left: 1px solid; grid-area: about; }
  .conditions{
border-left: 1px solid; grid-area: conditions; }
  .treatments{
border-left: 1px solid; border-right: 1px solid; grid-area: treatments; }
  .contact{
border-left: 1px solid; grid-area: contact; }
  .time{
border-left: 1px solid; grid-area: time; }
  .date{
border-left: 1px solid; grid-area: date; }
  .book{
    border-left: 1px solid; border-right: 1px solid; grid-area: book; }
  
  .title {
    font-family: Surt-Medium;
    font-size: 1.8vw;
    padding: 2% 2% 2% 2%;
    text-align: center;
  }
  .li a{
    font-family: Surt-Medium;
    font-size: 1.2vw;
    padding: 2% 2% 2% 2%;
    text-align: center;
  }
  .content{
    grid-area: 2/1/2/5;
    border-bottom: 1px solid;
    border-top: 0px solid;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-template-rows: 3;
    flex-direction: column;
  }
  .container {
    posiition: fixed;
    top: 1%;
    bottom: 1%;
    right: 1%;
    left: 1%;
    background: none;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 90% 1fr;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    grid-template-areas:
      "logo about conditions treatments"
      "content content content content"
      "contact time date book";
  }
  
.head{
  border-top: 1px solid;
}
.footer{
  border-bottom: 1px solid;
}
</style>
